#game-window {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.start-button {
    position: absolute;
    top: 15%;
    left: 45%;
    font-size: 1.5em;
    border: grey 1.5px solid
}

.prompt-window {
    width: 75%;
    height: 40%;
    background-color: grey;
    position: absolute;
    left: 10%;
    top: 100px;
    border: white 2px solid;
}

.text-box {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.select-a {
    background-image: url(images/boba.png);
}

.select-b {
    background-image: url(images/bossk.png);
}

.select-c {
    background-image: url(images/ig88.png);
}

.select-d {
    background-image: url(images/zuckuss.png);
}

.select-a,
.select-b,
.select-c,
.select-d {
    width: 21%;
    height: 69%;
    border: white 1px solid;
    background-size: 100%;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
}
.round-text{
    background: transparent;
    position: absolute;
    top: 80px;
    left: 550px;
    font-size: 3em;
    color:white;
}
.fight-button{
    position: absolute;
    top: 400px;
    left: 585px;
    font-size: 1.5em;
    border: grey 1.5px solid
}
.boba-vs{
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:5;
    width:45%;
}

.ig88-vs{
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:6;
    width:45%;
}

.bossk-vs{
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:7;
    width:45%;
}

.zuckuss-vs{
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:8;
    width:45%;

}

.boba-vs-mirror{
    position:absolute;
    bottom:0px;
    right:0px;
    z-index:5;
    width:45%;
}

.ig88-vs-mirror{
    position:absolute;
    bottom:0px;
    right:0px;
    z-index:6;
    width:45%;
}

.bossk-vs-mirror{
    position:absolute;
    bottom:0px;
    right:0px;
    z-index:7;
    width:45%;
}

.zuckuss-vs-mirror{
    position:absolute;
    bottom:0px;
    right:0px;
    z-index:8;
    width:45%;
}

.attack-button{
    position: absolute;
    top: 400px;
    left: 530px;
    font-size: 1.5em;
    border: grey 1.5px solid

}

.player-status{
    position: absolute;
    z-index: 10;
    bottom:50px;
    left: 10px;
    font-size: 2em;
    font-family: sans-serif;
    text-shadow: white  0.05em  0       0,
                 white  0       0.04em  0,
                 white -0.05em  0       0,
                 white  0      -0.04em  0;

}


.opponent-status{
    position: absolute;
    z-index: 10;
    bottom: 50px;
    right: 10px;
    font-size: 2em;
    font-family: sans-serif;
    text-shadow: white  0.05em  0       0,
                 white  0       0.04em  0,
                 white -0.05em  0       0,
                 white  0      -0.04em  0;
}

.fight-text{
    background: transparent;
    z-index: 10;
    position: absolute;
    top: 80px;
    left: 435px;
    font-size: 5em;
    text-shadow: white  0.05em  0       0,
                 white  0       0.04em  0,
                 white -0.05em  0       0,
                 white  0      -0.04em  0;

}
}

